header img {
  width: 150px;
}

.header-nav {
  float: right
}

.header-nav ul li {
  display: inline;
  padding: 10px;
  margin: 10px;
  border: 5px solid blue;
}

h1 {
  text-align: center;
  background: blue;
  color: #ffc947;
}

main img {
  width: 200px;
}

footer {
  text-align: center;
  font-size: 12px;
}